PORT = 8000
DB_URI = YOUR_MONGODB_URI
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDNARY_CLAUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDNARY_APIKEY
CLOUDINARY_API_SECRET=YOUR_CLOUDNARY_API_SECRET
EMAIL_USER=YOUR_EMAIL_ID
EMAIL_PASS=YOUR_EMAIL_PASSWORD
